<header>
    <div class="topnav navbar-dark bg-dark">
        <div class="topnav-right">
              <a class="nav-link" routerLink="/home">Home</a>
              <a class="nav-link" routerLink="/jobportal">Apply</a>
              <a class="nav-link" routerLink="/test">Test</a>
              <a class="nav-link" routerLink="/managejoblist">Manage Job List</a>
              <a class="nav-link" routerLink="/joblist">Job List</a>
              <a class="nav-link" routerLink="/login">Log Out</a>      
        </div>
        <div class="topnav-left">
            <button class="btn btn-dark" routerLink="/jobapplied">
                <i style="font-size: 30px;" class="fa fa-folder"></i>
                <div style="font-size:10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
      </div>
    </header>

    
    
